---
import Layout from "../layouts/Layout.astro"
import Info from "../components/Info.astro";
import Posts from "../components/Posts.astro";
import Pages from "../components/Pages.astro";

import { apiBlogUrl } from "../api";
---

<Layout>
    <h1>Blogger</h1>
    <ul>
        <li><a href={apiBlogUrl.blogs} target="_blank" rel="noopener">Blog</a></li>
        <li><a href={apiBlogUrl.posts} target="_blank" rel="noopener">Posts</a></li>
        <li><a href={apiBlogUrl.pages} target="_blank" rel="noopener">Pages</a></li>
    </ul>
    <Info />
    <Posts />
    <Pages />
</Layout>