---
import { apiBlogUrl } from "../api";
import { fetchPosts } from "../utils/posts";
import Items from "./Items.astro";

const { items } = await fetchPosts(apiBlogUrl.pages);
---

<h3>Pages</h3>
<ul>
    {
        items.map((post)=>(
            <li>
                <Items title={post.title} url={post.url} published={post.published} />
            </li>
        ))
    }
</ul>