---
import { apiBlogUrl } from "../api";
import { fetchPosts } from "../utils/posts";

const { items, nextPageToken } = await fetchPosts(apiBlogUrl.posts);
---

<h3>Posts</h3>
<ul>
    {
        items.map((post)=>(
            <li>
                <time datetime={post.published}>{new Date(post.published).toLocaleString()}</time>
                <a href={post.url} target="_blank" rel="noopener noreferrer">{post.title}</a>
            </li>
        ))
    }
</ul>