
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogger</title>
</head>
<body>
    <header>
        <a href="#">user-x</a>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">Pages</a></li>
        </ul>
    </nav>
    <main>
        <slot />
    </main>
</body>
</html>